.MuiDataGrid-row{
    background-color: rgb(240, 255, 255);
}
.Mui-selected{
    background-color: rgb(212, 212, 212);
}
.MuiDataGrid-virtualScrollerRenderZone{
    background-color: rgba(153, 166, 82, 0.454);

}
.pagination{
    align-items: center;
}
.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-cell.MuiDataGrid-cell--editing:focus-within{outline:solid #1976d2 1px;outline-offset:-1px; background:rgba(255, 116, 116, 0.333);}
